.background
{
    background-image: url("../img/music_background3.jpg");
    background-size:cover;             
    background-repeat: no-repeat;
    background-position: center center;
}
.conteneur-corp
{
    border-radius:5px;
    background-color: white;
    padding: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
    margin-top : 20px;
    margin-bottom: 10px;
}
.conteneur-droit
{
    border-radius:5px; 
    background-color: white; 
    border-style: solid;
    border-width: 1px; 
    border-color: lightgray;
    margin-top : 20px;
    margin-right: 10px;
    padding: 20px;
    margin-bottom: 10px;
}

.conteneur-tete
{
    border-radius:5px; 
    background-color:white;
    border-style: solid;
    border-width: 1px; 
    border-color: lightgray;
    margin-top : 10px;
    margin-right:10px;
}

.center
{
    text-align: center;
}