<div class="col-md-8 col-md-offset-2 conteneur-tete" >
    <h2 style="text-align: center">
        Mon compte
    </h2>
</div>

<div class="col-md-8 col-md-offset-2 conteneur-corp">
    <h4>Statistiques</h4>
    <hr>
    <label for="nbGame">Nombre de parties jouées :</label>
    <p>TODO</p>
    <label for="nbWin">Nombre de parties gagnées :</label>
    <p>TODO</p>
    <label for="score">Score total :</label>
    <p>TODO</p>
</div>

<div class="col-md-8 col-md-offset-2 conteneur-corp">
    <h4>Changement d'informations lié au compte</h4>
    <hr>
        TODO
    <hr>

</div>
</div>